<!DOCTYPE suite SYSTEM "http://beust.com/testng/testng-1.0.dtd" >
<suite name="easigreen test suite">
  <test name="system module test">
    <classes>
      <class name="easigreen.system.TestShell" />
      <class name="easigreen.system.TestResourceGetter" />
    </classes>
  </test>
  <test name="service module test">
    <classes>
    </classes>
  </test>
  <test name="desktop module test">
    <classes>
    </classes>
  </test>
</suite>
